#education {
  overflow: hidden;
  width: 200vw;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.educationTitle {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.eduBars {
  margin-bottom: 2rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.eduBar {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
  justify-content: space-between;
}

.eduBarText > h2 {
    font-size: 2rem;
    font-weight: 300;
}

.eduBarText > p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
    font-style: italic;
}

.eduBarImg {
  object-fit: cover;
  height: 6rem;
  width: 6rem;
  margin-right: 0.5rem;
  margin-left: 1rem;
  align-self: center;
}
